logs/
wandb/
pycache/
*.pyc
data/data_splits/
lcbc_datasets_backup/
lcbc.egg-info
deployment/model_weights/
*.jpg
*.png
*.jpg
*.tar
*.gif
debug/examples/
data/data_analysis/examples/
data/data_annotation/lcbc_datasets/
debug/outputs
data/data_annotation/cf_dataset/
data/data_annotation/cf_dataset_v2/
data/data_annotation/cf_dataset_v3/
data/data_annotation/cf_dataset_v4/
debug/outputs/
deployment/launch/gold_standard_bags/
baselines/navila/navila_atomic_model.pth
data/counterfactuals/viz/
visualize/

